@import "tailwindcss";

html {
  height: -webkit-fill-available;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}

body {
  background: url("/images/background.jpg");
  background-size: 512px;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

@layer base {
  button, [role="button"] {
    cursor: pointer;
  }
}